header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #89339e;
  width: 100%;
  color: #df97f1;
  border: solid #df97f1;
}

header h1 {
  border-bottom: 5px solid #df97f1;
  border-left: 8px solid #df97f1;
  display: inline-block;
  border-radius: 11px;
}

body {
  background-color: #dddddd;
}

h2 {
  color: #89339e;
}

.section-1 {
  padding-top: 90px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-2 {
  display: flex;
  flex-flow: wrap;
}
.section-2 h2 {
  text-align: center;
  width: 100%;
}
.cats-hate .cats-love {
  order: 1;
  width: 50%;
}
.cats-hate-list,
.cats-love-list,
.lasagna,
.five-cats {
  order: 2;
}
/*
.section-2 {
  display: grid;
  grid-template-columns: 10em 25em 9em 10em 10em;
  grid-template-rows: 5em 9em 10em;
  justify-content: center;
}

.section-2 h2 {
  grid-area: 1 / 3;
  align-self: center;
  text-align: center;
}

.cats-love {
  grid-area: 2 / 1;
  align-self: self-end;
}

.cats-love-list {
  grid-area: 3 / 1;
}

.lasagna {
  grid-area: 2 / 2 / span 1 / span 2;
}

.cats-hate {
  grid-area: 2 / 4;
  align-self: self-end;
}

.cats-hate-list {
  grid-area: 3 / 4;
}

.five-cats {
  grid-area: 2 / 5 / span 1 / span 2;
}
*/

/* form */
.section-3 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
